<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Lista książek</title>
<style>
table, th, td {
	border: 1px solid black;
}
</style>
</head>
<body>

	<table>
		<th:block th:each="book : ${books}">
			<tr>
				<td th:text="${book.id}">id</td>
				<td colspan="10" th:text="${book.title}">title</td>
				<td th:text="${book.authors}">authors</td>
				<td><input id="Button" type="button" value="Delete" onclick="remove()" /></td>
			</tr>
		</th:block>
	</table>
	



</body>
</html>