<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<link rel="stylesheet" th:href="@{/static/application.css}"
	href="/static/application.css" />
<meta charset="UTF-8" />
<title>Lista książek</title>
</head>
<body>

	<table align="center">
		<thead>
			<tr style="background-color: #7E76D7; color: Azure; font-size: 25px">
				<th colspan="4">Lista książek</th>
			</tr>
			<tr style="background-color: #7E76D7; color: Azure; font-size: 20px">
				<td><strong>Id </strong></td>
				<td><strong>Tytuł</strong></td>
				<td><strong>Autorzy </strong></td>
				<td><strong>Usuń książkę</strong></td>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="book : ${books}">
				<tr>
					<td th:text="${book.id}">id</td>
					<td th:text="${book.title}">title</td>
					<td th:text="${book.authors}">authors</td>
					<td><form action="/workshop/books" method="post">
							<input type="hidden" name="id" th:value="${book.id}" /> <input
								type="submit" value="Usuń" id="btn_delete" />
						</form></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</body>
</html>