.sample {
	color: red;
}

body {
	background-color:  #9FFFE7;
	color: navy;
	align: center;
}

table {
	
	border-spacing: 5px;
	font-size: 20px;
	moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

td, tr {
	padding: 2px;
	moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

tr {
	background-color: Azure;
	color: navy;
}

#formbox {
	margin: auto 0;
	text-align: center;
}

#btn_i {
	width: 250px;
	height: 60px;
	font-size: 25px;
	moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border: 3px solid #B4CFEC;
	background-color: #5CB3FF;
	padding: 5px;
	color: Azure;
	font-weight: bold;
}
#btn_delete {
0	font-size: 20px;
	moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 5px;
	color: Azure;
	font-weight: bold;
	background-color: DeepSkyBlue;
	width: 100%;
}


.message {
	color: navy;
	text-align: center;
	font-size: 22px;
	
}