.sample {
	color: red;
}

body {
	background-color: GhostWhite;
	color: navy;
	align: center;
}

table {
	border: 1px solid green;
}

td, tr {
	padding: 2px;
}

tr {
	background-color: Azure;
	color: navy;
}

#formbox {
	margin: auto 0;
	text-align: center;
}
#btn_i {
            width:125px;
        }
.message{
	color: navy;
	text-align: center;
}