<div>
    <form novalidate>
        <div class="modal-header">
            <h3 class="modal-title">Dodaj książkę</h3>
        </div>
        <div class="modal-body">
            <p>Dodaj tytul</p>
        <input type="text" ng-model="title">
            <p>Dodaj imie autora</p>
        <input type="text" ng-model="firstName">
            <p>Dodaj nazwisko autora</p>
        <input type="text" ng-model="lastName">
        <button ng-click="addAuthor()">Dodaj kolejnego autora</button>
        
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="addBook()">Save</button>
            <button class="btn btn-warning" ng-click="$dismiss()">Close</button>
        </div>
    </form>
</div>